name: Java CI with Maven

# 1.Triggers
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    # 2.Environment
    runs-on: ubuntu-latest

    steps:
      # A. Checkout code
      - uses: actions/checkout@v4

      # B. JDK setup
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      # C. Build and Test
      - name: Build with Maven
        run: mvn -B package --file pom.xml

      # D. Artifact Upload
      - name: Publish Test Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: target/surefire-reports